%h2= t('user.sign_up.title')
#new-user
  = form_for @user do |f|
    = display_any_errors_for(model: @user, text: t('user.errors.intro'))
    .field
      = f.label :email, t('user.fields.email')
      = f.text_field :email
    .field
      = f.label :password, t('user.fields.password')
      = f.password_field :password
    .field
      = f.label :password_confirmation, t('user.fields.password_confirmation')
      = f.password_field :password_confirmation
    .actions
      = f.submit t('user.fields.submit')
